@import '../variables.scss';



%icon-style-shared{
    -webkit-appearance: none;
    padding: 0;
    border: none;
    margin: 0;
    height: 100%;
    width: 20px;
    cursor: pointer;
    background-color: unset;
}


.notification {
    width: 100%;
    height: 40px;
    background: white;
    padding: $padding;
    display: flex;
    justify-content: space-between;
    margin-top: $padding;
}

.notification-category,
.notification-time,
.notification-assigned{
    margin: auto 0;
}

.button-container{
    width: auto;
    display: flex;
}

.notification-btn-edit,
.notification-btn-delete,
.notification-btn-complete {
    @extend %icon-style-shared;
    float: right;
    margin-left: 5px;
}

.notification-category{
    @extend %icon-style-shared;
    float: left;


}

.icon-img{
    -webkit-appearance: none;
    margin: auto;
}