* {
  box-sizing: border-box; }

h1 {
  color: #485472;
  text-align: center;
  font-size: 30px;
  width: 100%; }

.profile-info {
  display: flex;
  padding-bottom: 10px; }

.profile-img {
  width: 20vw;
  padding: 10px; }
  .profile-img img {
    max-height: 100%;
    width: auto; }

.profile-info-section {
  margin-left: 10px;
  width: 80%; }

.profile-name {
  width: 100%;
  border-bottom: 2px solid #485472;
  margin: 0; }

.profile-dob {
  display: block;
  padding: 0;
  margin: 0; }

.profile-gender,
.profile-breed {
  display: inline;
  padding: 0;
  margin: 0; }
