@import '../variables.scss';

@mixin transform ($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
        transform: $property;   
}

@mixin padding($property) {
    padding: $property;
}


nav {
    background: $col-medblue;
    height: 80px;

        ul {
        //     height: 100%;
        list-style: none;
        //     margin: 0;
        //     padding: 0;
        //     display: flex;
        //     justify-content: space-evenly;
        }

        //         li {
        //             height: 100%;

        //                 img {
        //                     pointer-events: none;
        //                 }
        //             }
        // }
}

.completed {
    background: $col-medblue;
}

.nav-clicked {
    animation: zoom 0.3s ease;
    animation-iteration-count: 1;
}

.nav-active {
    background: $col-darkblue;
}

@keyframes zoom {
    0% {}

    50% {
        @include padding(($padding));
    }
    100% {}
}