* {
  box-sizing: border-box; }

h1 {
  color: #485472;
  text-align: center;
  font-size: 30px;
  width: 100%; }

nav {
  background: #7D8DA9;
  height: 80px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0; }
  nav ul {
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    nav ul li {
      height: 100%;
      width: 20%; }
      nav ul li .button {
        width: 100%;
        height: 100%;
        margin: 0; }

.completed {
  background: #7D8DA9; }

.nav-clicked {
  animation: zoom 0.3s ease;
  animation-iteration-count: 1; }

.nav-active {
  background: #485472; }

@keyframes zoom {
  0% { }
  50% {
    padding: 10px; }
  100% { } }
