* {
  box-sizing: border-box; }

h1 {
  color: #485472;
  text-align: center;
  font-size: 30px;
  width: 100%; }

nav {
  background: #7D8DA9;
  height: 80px; }
  nav ul {
    list-style: none; }

.completed {
  background: #7D8DA9; }

.nav-clicked {
  animation: zoom 0.3s ease;
  animation-iteration-count: 1; }

.nav-active {
  background: #485472; }

@keyframes zoom {
  0% { }
  50% {
    padding: 10px; }
  100% { } }
