@import "../variables.scss";

* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  color: black;
  background: #a6b3c8;
  /* overflow: hidden; */
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.content {
  padding: 10px;
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*
    $col-darkblue: #5D9095;
    $col-medblue: #A0C0C4;
    $col-lightblue: #C8DCDE;
  */
